#xwiki-admin-instance-list {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#xwiki-admin-instance-list input[type=text], #new-instance-url {
	width: 20em;
	max-width: 100%;
}

#new-instance-url {
	width: 30em;
}

#no-wikis-registered-p:not([hidden]) + #xwiki-admin-instance-list {
	display: none;
}

#no-wikis-registered-p {
	margin-top: 1rem;
}

.xwiki-span-icon {
	display: inline-block;
	vertical-align: middle;
	padding-right: 1ex;
}

.ping-successful { color: var(--color-success); }
.ping-failure, .xwiki-error { color: var(--color-error); }

#xwiki-nav .icon, #xwiki-actions .icon {
	display: inline-block;
	vertical-align: middle;
}

#xwiki-actions {
	list-style: none;
	margin: 0;
	padding: 0;
}

#xwiki-actions li {
	margin: 0 1rem 0 0;
	padding: 0;
	display: inline-block;
}

#xwiki-top {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.icon-xwiki-page {
	background:url("../../theming/img/core/filetypes/file.svg") no-repeat;
}

#xwiki-app-content {
	width: 100%;
}

#xwiki-content {
	padding-left: 1ex;
	padding-right: 1ex;
	text-align: justify;
	word-break: break-word;
	hyphens: auto;
	max-width: 120ex;
	overflow: auto;
	position: relative;
}

#xwiki-app-content.onboard {
	display: flex;
	justify-content: center;
	align-items: center;
}

#xwiki-app-content.onboard #xwiki-content {
	padding: 1rem;
}

#xwiki-app-content.onboard #xwiki-content h2 {
	text-align: center;
}

#xwiki-app-content.onboard section {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#xwiki-app-content.onboard section, .onboarding, .ok {
	padding: 1em;
	border-left: 3px solid var(--color-primary);
	box-shadow: 0 0 6px 0 var(--color-box-shadow);
}

#xwiki-app-content.onboard section h3, .ok h3 {
	margin-top:0;
	padding-top:0;
}

#xwiki-app-content.onboard section h3 * {
	height: 1rem;
	vertical-align: middle;
}

#xwiki-app-content.onboard section h3 img {
	margin-right: 0.75ex;
}

#xwiki-app-content table {
	border-collapse: collapse;
}

#xwiki-onboard-icon { fill:var(--color-main-text); stroke: var(--color-main-text); }
#xwiki-onboard-icon * { fill: none; stroke-width: 7.5px; stroke-linecap: round; stroke-linejoin: round; }
#xwiki-onboard-icon .X { stroke-width: 13px; }

#xwiki-app-content td, #xwiki-app-content th {
	padding: 0.25ex;
	white-space: normal;
}

#xwiki-app-content td, #xwiki-app-content th {
	border: 1px solid gray;
}

#xwiki-app-content th {
	font-weight: bold;
}

#xwiki-app-content a {
	color: #3E7CBC;
}

#xwiki-app-content .monospace {
	font-family: monospace;
}

#xwiki-app-content a:hover, #xwiki-app-content a:focus {
	color: #2b5682;
	text-decoration: underline;
}

#xwiki-app-content .floatinginfobox {
	float: right;
	margin: 6px 0 6px 12px;
}

#xwiki-app-content .box, #xwiki-app-content .plainmessage, #xwiki-app-content fieldset.xwikimessage {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	overflow-x: auto;
}

#xwiki-app-content .successmessage, #xwiki-app-content .errormessage, #xwiki-app-content .warningmessage, #xwiki-app-content .infomessage, #xwiki-app-content span.successmessage, #xwiki-app-content span.errormessage, #xwiki-app-content span.warningmessage, #xwiki-app-content span.infomessage, #xwiki-app-content span.box {
  padding: 2px;
}

#xwiki-app-content .infomessage {
  color: #3E7CBC;
  background-color: #e8f0f7;
  border-color: #e8f0f7;
}

#xwiki-app-content ul, .onboarding ul {
	list-style: disc;
	margin-left:2em;
}

#xwiki-app-content ol {
	list-style: decimal;
	margin-left:2em;
}

#xwiki-app-content p {
	margin-top:0.5ex;
	margin-bottom:0.5ex;
}

#xwiki-app-content h1,
#xwiki-app-content h2,
#xwiki-app-content h3,
#xwiki-app-content h4,
#xwiki-app-content h5,
#xwiki-app-content h6 {
	font-weight: bold;
	margin-top:0.5ex;
	margin-bottom:0.5ex;
}

ul#xwiki-breadcrumbs, #xwiki-breadcrumbs li {
	margin: 0;
	padding: 0;
}

ul#xwiki-breadcrumbs {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
}

#xwiki-breadcrumbs li {
	list-style: none;
	display: inline-flex;
	align-content: center;
	align-items: center;
}

#xwiki-breadcrumbs a {
	position: relative;
	padding: 12px;
	opacity: 0.5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	color: inherit;
}

#xwiki-breadcrumbs a:hover, #xwiki-breadcrumbs a:focus {
	opacity: 1;
	text-decoration: none;
	color: inherit;
}

#xwiki-breadcrumbs li:last-child {
	font-weight: bold;
	margin-right: 10px;
}

#xwiki-breadcrumbs li:not(:last-child) {
	background-image: url("../../../core/img/breadcrumb.svg?v=1");
	background-repeat: no-repeat;
	background-position: right center;
	height: 44px;
	background-size: auto 24px;
	padding-right: 7px;
}


#xwiki-breadcrumbs span.icon-xwiki {
	margin-right: 1ex;
}

.icon-xwiki {
	background: url("../img/app-dark.svg") no-repeat;
}

#xwiki-breadcrumbs a span {
	display: inline-block;
	vertical-align: middle;
}

.settings-section__desc {
	margin-top: -0.2em;
	margin-bottom: 1em;
	opacity: .7;
}

.p-input input[type=checkbox] {
	vertical-align: middle;
}


table {
	min-width: 75%;
	margin-bottom: 1em;
}

th {
	font-weight: bold;
}

#xwiki-user-settings-instance-table td:first-child {
	padding-right: 1em;
	height: 3rem;
}

#xwiki-user-settings-instance-table td:last-child {
	/* This is to avoid the table moving when adding the loading icon next to
	 * the "Get access" button */
	width: 100%;
}

#xwiki-user-settings-instance-table th {
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

#xwiki-user-settings-instance-table a.link-button, .get-token.link-button {
	padding-top: 0.5ex;
	padding-bottom: 0.5ex;
	margin: 0.5ex 0;
	box-shadow: none;
	font-weight:bold;
}

#xwiki-user-settings-instance-table form {
	display: inline-block;
}

#instances-notes-th { width: 100%; }

.xwiki-admin-save-instance-btn {
	display: none;
}

.xwiki-admin-changed .xwiki-admin-save-instance-btn {
	display: unset;
}

h3 { font-weight: bold }

.onboarding {
	margin-bottom: 1rem;
	display:inline-block;
}

.onboarding a[href]:not(.link-button) {
	color: var(--color-primary);
}

.onboarding h3 {
	margin-top: 0;
	padding-top: 0;
}

.onboarding ol {
	margin-left: 2rem;
}

.onboarding-btns {
	text-align: right;
}

[hidden] {
	display: none !important;
}
